body {
background: #2196f3;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}


/* ----- ALINHA PRODUTOS À ESQUERDA E PEDIDO À DIREITA ----- */
.pedido-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.produto {
  width: auto;
  height: 50px;
  
  display: flex;
  justify-content: left;
}

/* ÁREA DO PEDIDO */
.pedido-area {
width: 35%;
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* ----- CORRIGE TEXTO BRANCO NA ÁREA DO PEDIDO ----- */
.pedido-area,
.pedido-area * {
    color: black;
}


.lista-pedido {
min-height: 150px;
border: 1px dashed #ccc;
padding: 10px;
border-radius: 8px;
}


.item-pedido {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
padding: 8px;
border: 1px solid #ddd;
border-radius: 8px;
}


.item-pedido img {
width: 40px;
}


.btn-remove {
padding: 5px 10px;
background: red;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}


.total-area {
margin-top: 15px;
font-size: 18px;
}


.btn-finalizar {
margin-top: 20px;
width: 100%;
padding: 12px;
background: green;
color: white;
border: none;
border-radius: 8px;
font-size: 18px;
cursor: pointer;
}


.msg-pedido {
margin-top: 10px;
font-size: 14px;
color: red;
}


/* ------------ RESPONSIVIDADE PEDIDO ------------ */
@media (max-width: 578px) {
  .pedido-container {
    flex-direction: column;
    gap: 15px;
  }

  .produtos-lista,
  .pedido-area {
    width: 100%;
  }

  .produto-card {
    width: 100%;
    margin-bottom: 15px;
  }

  .item-pedido img {
    width: 45px;
    height: 45px;
  }

  .btn-add, .btn-finalizar {
    font-size: 16px;
    padding: 10px;
  }
}